<!doctype html>
<html>
   <body>
	<form action="/insertion/" method="POST">
      <table>
            <tr>
		<th>Name:</th>
		<td><input type="text" name="nm" required></td>
	    </tr>
	    <tr>
		<th>DOB</th>
		<td><input type="date" name="dt" required></td>
	    </tr>
            <tr>
		<th>Email</th>
		<td><input type="email" name="em" required></td>
	    </tr>
	    <tr>
		<th>Password</th>
		<td><input type="password" name="pw" required></td>
	    </tr>
	    <tr>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<td><input type="submit" value="Submit"></td>
	    </tr>
      	</table>
	</form>
   </body>
</html>
